.info {
    padding-top: 15%;
}
.colors {
    display: inline-flex;
}
.dot-image {
    display: block;
    width: 25px;
    margin: 35px auto 5px auto;
}
.color {
    text-align: center;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 35px;
}