.info {
    padding-top: 5%;
    text-align: center;
    font-size: 11px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.info h1 {
    text-transform: none;
}
.colors {
    display: inline-flex;
}
.dot-image {
    display: block;
    width: 25px;
    margin: 35px auto 5px auto;
}
.color {
    text-align: center;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 35px;
}
a {
    cursor: pointer;
}
.product-image {
    max-width: 400px;
}
#info button {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 40px;
    font-size: 11px;
    letter-spacing: 1.5px;
}
.other-model {
    max-width: 275px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.others {
    text-align: center;
}